################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MySoft/bin/Debug/net6.0
/MySoft/obj
