@model MySoft.Areas.HRM.Models.VmEmployee
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Employees!=null)
{
    <p class="h1 text-center fw-bolder mb-5">Employee List</p>
    <a asp-area="HRM" asp-controller="Employee" asp-action="Create" class="btn btn-primary mb-3 mt-3">Add New</a>


    <table class="table table-bordered">
        <thead class="bg-success text-white">
            <tr>
                <th>Employee Code</th>
                <th>Name</th>
                <th>Contact Number</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var emp in Model.Employees)
            {
                <tr>
                    <td>@emp?.employeeCode</td>
                    <td>@emp?.name</td>
                    <td>@emp?.contactNumber</td>
                    <td>@emp?.address</td>
                    <td>
                        <a asp-area="HRM" asp-controller="Employee" asp-action="Details" asp-route-id="@emp?.Id" class="btn btn-success">Details</a>
                        <a asp-area="HRM" asp-controller="Employee" asp-action="Create" asp-route-id="@emp?.Id" class="btn btn-warning">Edit</a>
                        <a asp-area="HRM" asp-controller="Employee" asp-action="Delete" asp-route-id="@emp?.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

