@model MySoft.Areas.HRM.Models.VmEmployee
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Employees!=null)
{

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Employee Code</th>
                    <th>Name</th>
                    <th>Contact Number</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var emp in Model.Employees)
                {
                    <tr>
                        <td>@emp.employeeCode</td>
                        <td>@emp.name</td>
                        <td>@emp.contactNumber</td>
                        <td>@emp.address</td>
                    </tr>
                }
                </tbody>
        </table>
    
}

